/* color palette from <https://github.com/vuejs/theme> */



*, ::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

:root {
  /* Default color, the same as the default .json file. should be overridden by themes.json
                                                            and only be used for pre visualisation and testing. */
  --color-fg: #ffffff;
  --color-mg: #444;
  --color-bg: #121212;

  --color-modal-bg: var(--color-bg);

  --color-line: #888;
  --color-shade: rgba(0, 0, 0, 0.1);
  --color-highlight: rgba(255, 255, 255, 0.05);

  --color-positive: #1d7e05;
  --color-negative: #ff0000;

  --color-link: var(--color-line);

  --color-active-field: var(--color-line);
  --color-inactive-field: var(--color-mg);

  --color-textbox: var(--color-inactive-field);

  --color-placeholder: var(--color-line);

  --color-submit: var(--color-positive);

  --color-modal-border: var(--color-mg);

  --color-button-highlight: rgb(41, 171, 224);

  --color-lg: var(--color-line);

  --color-lost-card: var(--color-mg);
  --color-win-card: var(--color-positive);

}

