/* color palette from <https://github.com/vuejs/theme> */

@font-face {
  font-family: testfont;
  src: url("@/assets/fonts/font.otf") format("opentype");
}

*, ::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

